.cache/
.DS_Store
build/
build-mac-rv64/
deps/k230_sysroot/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
supercombo.elf
k230_camerad
k230_modeld
k230_overlay
k230_pandad
rpi_camerad
rpi_modeld
rpi_overlay
__pycache__/
output/
*.pyc
*.raw
*.scnv12
*.mp4
models/*.onnx
